<div class="jumbotron center">
  <h1>Welcome to Knowledge Share Center!</h1>
  <h2>Create How-to guides and share your knowledge!!</h2>
  <h3>Don't forget, you receive what you give!</h3>
  <br>
  <p>
    <%= link_to "Sign up or Login", "#", class: "btn btn-success btn-lg btn-xlarge" %> <!-- btn-xlarge is defined in custom.css.scss -->
  </p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
