$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  padding-top: 70px;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('background_image.png');
  background-size: cover;
  height: auto;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  // text-transform: uppercase;
  letter-spacing: -2.5px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#inputExpandable {
  width:50%;
  -webkit-transition:width 0.3s ease-in-out;
}

#inputExpandable:focus {
  width:100%;
  -webkit-transition:width 0.5s ease-in-out;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #076B15;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

.instructions {
  margin-top: 0;
}

.well a {
  color: #076B15;
}

.expert_info {
  margin-top: 15px;
}

.colorlink a {
  color: #076B15;
}

.guide-actions {
  padding-top: 5px;
  // thank you scss
  a {
    color: #fff
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.expert-title {
  color: #076B15;
  font-weight: bold;
  font-size: 1.25em;
}
