$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  padding-top: 70px;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('background_image.png');
  background-size: cover;
  height: auto;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  // text-transform: uppercase;
  letter-spacing: -2.5px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#inputExpandable {
  width:40%;
  -webkit-transition:width 0.3s ease-in-out;
}

#inputExpandable:focus {
  width:100%;
  -webkit-transition:width 0.5s ease-in-out;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #076B15;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}
