<% object.each do |guide| %>
  <div class="row">
    <div class="col-md-2">
      <section class="expert_info center">
        <%= avatar_for(guide.expert, size: 100) %>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to guide.title, guide_path(guide) %></h4>
      <p><%= truncate(guide.instructions, length: 150) %></p>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(guide.created_at) %> ago</small></span>
      </p>

    </div>
  </div>
<% end %>
